<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./../../public/css/main.css">
   <title>Form</title>
</head>
<body>
   <button class="send" id="button-3">
      <div id="circle"></div>
      Senden
   </button> <br>
   <button class="discard">Discard</button> <br>
   <button class="danger">Logout</button> <br>

   <br>
   <div>
      <img src="">
   </div>
 <strong></strong>
   <script>

   </script>

</body>
</html>