@font-face {
  font-family: "BerlinType";
  src: url(./../font/BerlinTypeWeb-Regular.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "BerlinTypeBold";
  src: url(./../font/BerlinTypeWeb-Bold.woff2) format("woff2");
  font-display: swap;
}
/*
@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
*/
section.splitTwo {
  display: flex;
  height: 100vh;
  width: 100vw;
}
section.splitTwo div.form {
  width: 400px;
}
section.splitTwo div.form div.splitTwoWrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100%;
}
section.splitTwo div.picture {
  width: calc(100% - 400px);
  background: url(https://source.unsplash.com/random) no-repeat fixed center/cover;
}

@media only screen and (max-width: 800px) {
  section.splitTwo div.form {
    width: 100%;
  }
  section.splitTwo div.picture {
    display: none;
  }
}
body {
  font-family: "BerlinType", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

section.logo {
  display: flex;
  height: auto;
}
section.logo .logoWrapper {
  height: 55px;
  width: 70px;
  background-image: url(./../svg/logo.svg);
  background-size: 100%;
  border-radius: 8px;
}
section.logo .logoTitle {
  padding-top: 12px;
  padding-left: 15px;
  font-family: "BerlinTypeBold", sans-serif;
  font-size: 26px;
  color: #05445e;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px rgba(0, 128, 0, 0);
  border: solid 4px transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.2509803922);
  border: solid 4px transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

section.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
section.register .registerTitel {
  font-size: 40px;
}
section.register form {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
section.register form input {
  padding: 0;
}
section.register form .inputBox {
  border: 2px solid #33CCCC;
  border-radius: 15px;
  height: 30px;
  margin-top: 1%;
  width: calc(100% - 3px);
}
section.register form input[type=submit] {
  border: 2px solid #FF892E;
  color: white;
  background-color: #FF892E;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  justify-content: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

section.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
section.login .loginTitel {
  font-size: 40px;
}
section.login form {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
section.login form .inputBox {
  border: 2px solid #33CCCC;
  border-radius: 15px;
  height: 30px;
  margin-top: 1%;
  width: 100%;
}
section.login form input[type=submit] {
  border: 2px solid #FF892E;
  color: white;
  background-color: #FF892E;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  justify-content: center;
  font-size: 15px;
}
section.login form .registerButton {
  display: flex;
  color: white;
  background-color: #FF892E;
  border-radius: 10px;
  text-decoration: none;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
section.login form .buttonSection {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
}

.titel {
  font-family: "Courier New", Courier, monospace;
  color: blue;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}/*# sourceMappingURL=main.css.map */