@use "../abstracts" as *;

section.splitTwo{
   display: flex;
   height: 100vh;
   width: 100vw;

   section{
      width: 400px;
      background-color: $background;
   }
   section:last-child{
      width: calc(100% - 400px );
      background: url(https://source.unsplash.com/random) no-repeat fixed center/cover;
   }
}

@media only screen and (max-width: 800px) {
   section.splitTwo{
      section{
         width: 100%;
      }
      section:last-child{
         display: none;
      }
   }
}
