@use "../abstracts" as *;

.mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: blue;
    height: 500px;
    
}
.unterContainer{
    background-color: yellow;
    
}
.catch{
    display: flex;
    justify-content: center;
    margin-top: 30%;
    background-color: aqua;
    color: red;
    font-size: 60px;
}
.joinnowBtn{
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 90px;
}
.centerBtn{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.underText{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}