@use "../abstracts" as *;
section.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
   

    .registerTitel{
        font-size: 40px;
    }

    form{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;

        input{
            padding: 0;
        }
        .inputBox{
            border: 2px solid #33CCCC;
            border-radius: 15px;
            height: 30px;
            margin-top: 1%;
            width: calc(100% - 3px);
        }
        
          input[type=submit] {
            border: 2px solid #FF892E;
            color: white;
            background-color: #FF892E;
            border-radius: 10px;
            width:100%;
            height: 30px;
            justify-content: center;
            font-size: 15px;
            display: flex;
            justify-content: center;
        
          }
          
          

    }

}
