@use "../abstracts" as *;

body{
   font-family: "BerlinType", sans-serif;
   font-size: 1.1rem;
   margin: 0;
   padding: 0;
   height: 100%;
   width: 100%;
}

section.logo{
   display: flex;
   height: auto;
   
   .logoWrapper{
      height: 55px;
      width: 70px;
      background-image: url(./../svg/logo.svg);
      background-size: 100%;
      border-radius: 8px;
   }
   .logoTitle{
      padding-top: 12px;
      padding-left: 15px;
      font-family: "BerlinTypeBold", sans-serif;
      font-size: 26px;
      color: $logoBackground;
   }
}